.certifications-slider-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(120deg, #d4f1f4, #bee3db); */
    border-radius: 12px;
  }
  
  /* .certifications-slider-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333; 
    text-transform: uppercase;
    letter-spacing: 1.5px;
  } */
  
  .slider {
    position: relative;
    overflow: hidden;
  }
  
  .certification-cards-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .certification-card {
    min-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #1E3E62, #4B7DAA); /* Peachy gradient for the cards */
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 300px;
  }
  
  .certification-card:hover {
    transform: scale(1.05); /* Slight zoom effect */
  }
  
  .certification-card img {
    max-width: 70%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 8px; /* Rounded edges for images */
  }
  
  .certification-card h3 {
    font-size: 1.4rem;
    margin: 10px 0;
    color: #ff5e57; /* Warm coral red for titles */
  }
  
  .certification-card p {
    font-size: 1rem;
    color: #F3F3E0; /* Dark muted blue for descriptions */
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .certification-card a {
    font-size: 1rem;
    color: #FF7F3E; /* Soft red for links */
    text-decoration: none;
    font-weight: bold;
  }
  
  .certification-card a:hover {
    text-decoration: underline;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.8rem;
    background-color: rgba(54, 79, 107, 0.6); /* Semi-transparent dark blue */
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
    transition: background-color 0.3s ease;
  }
  
  .prev-btn {
    left: 15px;
  }
  
  .next-btn {
    right: 15px;
  }
  
  .prev-btn:hover,
  .next-btn:hover {
    background-color: rgba(54, 79, 107, 0.8); /* Darker blue on hover */
  }
  
  /* Add a smooth transition effect for slides */
  .certification-cards-container.is-transitioning {
    transition: none; /* Disable transition while resetting */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .certification-card h3 {
      font-size: 1.2rem;
    }
  
    .certification-card p {
      font-size: 0.9rem;
    }
  
    .prev-btn,
    .next-btn {
      font-size: 1.4rem;
      padding: 10px;
    }
  }
  